* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.nav-bar {
    background-color: #000;
}

.nav-bar>div {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-bar-logo {
    padding-right: 20px;
}

.nav-bar-cart {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    padding: 5px 8px;
    width: 100px;
}

.nav-bar-cart i {
    margin-right: 8px;
}


.nav-bar-search {
    position: relative;
    width: 35%;
    background-color: #fff;
    border-radius: 4px;
}

.nav-bar-search input {
    border: none;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    padding: 8px 35px 8px 13px;
    width: 100%;
    border-radius: 4px;
}

.nav-bar-search button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 7px;
    right: 10px;
}

#search-result {
    position: absolute;
    top: 33px;
    z-index: 10;
    width: 400px;
    left: 0;
    display: none;
}

.nav-bar-logo img {
    height: fit-content;
    width: 100px;
}

.nav-bar-cart i,
.nav-bar-cart span {
    display: inline-block;
    vertical-align: middle;
}

.nav-bar-cart:hover {
    background-color: #8f8f8f;
}

.nav-bar-signin span:hover {
    color: #8f8f8f
}

.nav-bar-signup span:hover {
    color: #8f8f8f;
}

.bordercol {
    background-color: #232323;
    height: 65px;
    width: 1px;
}

.nav-bar-signin {
    color: #fff;
}

.nav-bar-signup {

    color: #fff;
}

.nav-bar-space {
    width: 18%;
}

.footer {
    background-color: #fff;
    clear: both;
    border-top: 1px solid #e2e2e2;
    margin-top: 35px;
}

/* .footer__top.clearfix,
.copyright {
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
} */

.footer__top {
    padding: 15px 0 5px;
}

.clearfix {
    display: block;
}

.footer-col {
    display: inline-block;
    width: 25%;
}

.footer-col ul {
    list-style-type: none;
}

footer {
    display: block;
}

.f-listmenu li {
    margin-bottom: 10px;
}

.f-listmenu li a {
    color: #333;
    line-height: 21px;
}

.f-listmenu li a:hover {
    color: #288ad6;
}

.copyright {
    background-color: #f1f1f1;
    padding: 15px 0;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.copyright p {
    color: #666;
    font-size: 12px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 640px;
}

.login {
    text-align: center;
    background: transparent url(../images/bg.png) repeat center top;
    min-height: calc(100vh - 55px);
    max-width: 100% !important;
}

.login>div {
    margin: 3% auto;
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 25px 0;
    background-color: #fff;
}

.login>div>* {
    display: block;
}

.login>div>span {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

.login>div>form>input {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 48px;
    padding: 0 50px;
    background-repeat: no-repeat;
    background-position: 25px center;
    margin-bottom: 15px;
    font-size: 15px;
}

.forgot {
    text-align: center;
    background: transparent url(../images/bg.png) repeat center top;
    min-height: calc(100vh - 55px);
    max-width: 100% !important;
}

.forgot>div {
    margin: 3% auto;
    max-width: 500px;
    border: 1px solid #ccc;
    padding-bottom: 25px;
    background-color: #fff;
}

.forgot>div>img {
    max-width: 100%;
    margin-left: 44px;
}

.forgot>div>* {
    display: block;
}

.forgot>div>span {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

.forgot>div>form>input {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 48px;
    padding: 0 50px;
    background-repeat: no-repeat;
    background-position: 25px center;
    margin-bottom: 15px;
    font-size: 15px;
}

.show-pass {
    padding: 0 50px;
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    margin-right: 150px;
}

.btn {
    background-color: #000;
    box-shadow: 0 2px 6px 0 #9ed4ec;
    border-radius: 100px;
    width: 302px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    max-width: 100%;
    cursor: pointer;
}

.btn:hover {
    background-color: #8f8f8f;
}

.forgot-pass {
    color: #288ad6;
    font-size: 13px;
    margin: 20px 0px 0px;
    cursor: pointer;
    margin-bottom: 0px;
}

.create-account {
    color: rgb(120, 120, 120);
    font-size: 13px;
    margin: 10px 0px 0px;
}

.create-account span {
    color: #288ad6;
    margin-left: 5px;
    cursor: pointer;
}

.login-account {
    color: rgb(120, 120, 120);
    font-size: 13px;
    margin: 10px 0px 0px;
}

.login-account span {
    color: #288ad6;
    margin-left: 5px;
    cursor: pointer;
}

.social {
    text-align: center;
    margin: 50px 0px 0px;
}

.social .social-heading {
    margin: 0px 0px 15px;
    position: relative;
}

.social .social-heading::before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(242, 242, 242);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.social .social-heading span {
    font-size: 15px;
    color: rgb(120, 120, 120);
    display: inline-block;
    background: rgb(255, 255, 255);
    padding: 0px 20px;
    position: relative;
    z-index: 2;
}

.social .social-items {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px 0px 10px;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.social .social-item {
    margin: 0px 10px;
}

.social .social-item img {
    width: 58px;
    cursor: pointer;
}

.cart {
    text-align: center;
    background: transparent url(../images/bg.png) repeat center top;
    min-height: calc(100vh - 55px);
    max-width: 100% !important;
}

.cart>div {
    margin: 3% auto;
    max-width: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
}


.list-cart {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
}

.list-cart .product-item {
    padding: 10px 30px;
    width: 100%;
}

.list-cart .product-item:not(:first-child) {
    border-top: 1px solid #e1e1e1;
}

.list-cart .product-item .img-product {
    float: left;
    width: 16%;
}

.list-cart .img-product a,
.list-cart .img-product a img {
    display: block;
    overflow: hidden;
}

.list-cart .img-product a img {
    width: 75px;
    margin: auto;
}

.list-cart .img-product button {
    display: block;
    overflow: hidden;
    margin: 15px auto 0;
    border: 0;
    background: #fff;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}

.list-cart .product-item .info-product {
    display: block;
    margin-left: 95px;
}

.list-cart .info-product .name-price {
    display: block;
}

.list-cart .name-price a {
    float: left;
    width: 70%;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-cart .name-price span {
    float: right;
    color: #f30c28;
    font-size: 14px;
    text-align: right;
    margin-bottom: 2px;
}

.list-cart .name-price del {
    display: block;
    overflow: hidden;
    color: #666;
}

.total-provisional {
    display: block;
    overflow: hidden;
    padding: 10px 30px;
    font-size: 14px;
}

.total-provisional>span {
    float: left;
    color: #333;
}

.total-provisional>span:nth-child(2) {
    float: right;
}

.info-customer {
    display: block;
    overflow: hidden;
    border-top: 1px solid #d1d1d1;
    padding: 10px 30px 0;
}

.info-customer h4 {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    text-align: left;
}

.info-customer .form-customer,
.texterror {
    display: block !important;
}

.info-customer .form-customer {
    display: none;
    overflow: hidden;
    padding: 10px 0 0;
}

.form-customer .sex-customer {
    display: block;
    overflow: hidden;
    text-align: left;
}

.form-customer .sex-customer input {
    text-align: left;
}

.form-customer .name-phone-address-customer {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

.form-customer .name-phone-address-customer .name {
    float: left;
    width: 49%;
    margin: 0 1% 0 0;
}

.form-customer .name-phone-address-customer .name input {
    display: block;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    width: 100%;
}

.form-customer .fillinform .fillname:nth-child(2) {
    float: right;
    margin-right: 0;
}

.form-customer .name-phone-address-customer .address {
    float: left;
    width: 99%;
    margin: 0 1% 0 0;
    padding-top: 5px;
}

.note {
    display: block;
    overflow: hidden;
    padding: 10px 30px;
    border-bottom: 1px solid #d1d1d1;
}

.note h4 {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    text-align: left;
}

.note textarea {
    display: block;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    width: 99%;
    resize: none;
    height: 100px;
    margin-top: 10px;
}

.finaltotal {
    display: block;
    overflow: visible;
    padding: 20px 30px;
    position: relative;
}

.area-total, .area-total .discountcode {
    display: block;
    overflow: visible;
}

.area-total .discountcode {
    margin-bottom: 20px;
    position: relative;
}

.area-total .discountcode .usecode.singlebox {
    min-height: auto;
}
.area-total .discountcode .usecode.coupon-code {
    margin-right: 10px;
}
.area-total .discountcode .usecode {
    position: relative;
    padding: 10px;
    cursor: pointer;
    width: calc(50% - 5px);
    border-radius: 4px;
    text-align: left;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    min-height: 58px;
}

.area-total .discountcode .usecode .usecode-icon {
    display: flex;
    justify-content: center;
    width: 23px;
    flex-direction: row-reverse;
}

.area-total .discountcode .usecode.singlebox .usecode-title {
    margin-right: 25px;
}
.area-total .discountcode .usecode span {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    margin-left: 10px;
    text-align: left;
}
.area-total .discountcode .usecode.coupon-code.active:before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    background: #f1f1f1;
    transform: rotate(
-45deg);
    display: block;
    position: absolute;
    bottom: -18px;
    left: 85px;
}

.area-total .discountcode .usecode.coupon-code.active:after {
    transform: rotate(
180deg);
}
.area-total .discountcode .usecode.coupon-code:after {
    content: "";
    border-top: 6px solid #000;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    position: absolute;
    right: 10px;
}

.area-total .discountcode .applycode {
    display: none;
    overflow: hidden;
    background: #f1f1f1;
    padding: 12px;
}

.area-total .discountcode .applycode.active {
    display: block;
    margin: 10px 0;
}
div.clr {
    clear: both;
}
.area-total .discountcode .applycode input {
    float: left;
    width: 74%;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    padding: 10px;
    text-indent: 5px;
    color: #666;
}
.area-total .discountcode .applycode button.disabled {
    border: 1px solid #bdbdbd;
    background: #bdbdbd;
    color: #fff;
}
.area-total .discountcode .applycode button {
    float: right;
    width: 20%;
    border: 1px solid #288ad6;
    background: #288ad6;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.disabled {
    pointer-events: none !important;
}

.area-total .line-break {
    border-top: 1px solid #d1d1d1;
    position: absolute;
    width: calc(100% + 60px);
    left: -30px;
    bottom: -20px;
}
.area-total .total-price {
    display: block;
    overflow: hidden;
    padding: 10px 0 10px;
    width: 100%;
    font-size: 14px;
}

.area-total .total-price strong {
    float: left;
    color: #333;
}

.area-total .total-price strong:nth-child(2) {
    float: right;
    color: #f30c28;
}

.finaltotal button.submitorder {
    display: block;
    overflow: hidden;
    color: #fff;
    text-align: center;
    height: 50px;
    margin: 10px auto;
    width: 100%;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    background: #000;
}
.finaltotal button.submitorder:hover {
    background: #8f8f8f;
}
.banner {
    margin-top: 0;
    /* background-color: #fff; */
    display: flex;
}
.banner section{
    display: flex;
    padding-top: 10px;
}
section {
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    position: relative;
}
.carousel {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.slider-banner{
    max-width: 800px;
    max-height: 205px;
    padding-top: 5px;
    overflow: hidden;
}
.carousel {
    display: block !important;
}

.carousel .stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.slider-banner .stage-outer {
    max-height: 205px;
}

.carousel .stage {
    position: relative;
    touch-action: manipulation;
}

.carousel .banner-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.slider-banner .item:first-child {
    display: flex;
    height: 100%;
}

.slider-banner .item a {
    display: flex;
    height: 100%;
    text-decoration: none;
}

.carousel .stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.theme .nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.carousel .nav button.btn-prev, .carousel .nav button.btn-next, .carousel button.dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.slider-banner .nav button {
    opacity: .4;
}

.carousel .btn-prev {
    box-shadow: 6px 0 4px rgb(0 0 0 / 5%), 4px 0 4px rgb(0 0 0 / 9%);
    left: 0;
}

.carousel .btn-next {
    box-shadow: -6px 0 4px rgb(0 0 0 / 5%), -4px 0 4px rgb(0 0 0 / 9%);
    right: 0;
}

.nav button {
    background: rgba(255,255,255,.9) !important;
    height: 60px;
    width: 30px;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    z-index: 2;
}

.nav button span {
    display: block;
    text-indent: -9999px;
}

.nav button.btn-prev span::before {
    left: 10px;
    transform: rotate(-135deg);
}

.nav button span::before {
    border-top: 3px solid #666;
    border-right: 3px solid #666;
    content: '';
    height: 22px;
    position: absolute;
    top: 18px;
    width: 22px;
}

.theme .nav [class*='btn-'] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.nav button.btn-next span::before {
    transform: rotate(45deg);
    right: 8px;
}

.carousel:hover button {
    opacity: 1;
}

.carousel button {
    opacity: .3;
}

.theme .nav [class*='btn-']:hover {
    background: #869791;
    color: #fff;
    text-decoration: none;
}

.theme .dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    background: transparent !important;
    margin-bottom: 0 !important;
}

.slider-banner .dots {
    bottom: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.theme .dots .dot {
    display: inline-block;
    zoom: 1;
}

.theme .dots .dot span {
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.theme .dots .dot.active span, .theme .dots .dot:hover span {
    background: #869791;
}

.slider-banner .dots button.active span {
    background-color: #fe7705 !important;
}

.theme .dots .dot span {
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.slider-banner .dots button span {
    height: 5px !important;
    width: 5px !important;
    margin: 2px 0 0 7px !important;
}

.right-banner {
    display: grid;
    max-height: 210px;
    align-content: space-between;
    align-self: flex-end;
    padding-top: 5px;
    overflow: hidden;
    padding-left: 10px;
    width: 33.33%;
}

.right-banner-item:first-child {
    margin-bottom: 0;
}

.right-banner a {
    line-height: 0;
}

.right-banner-item {
    display: block;
}

.right-banner a img {
    max-height: 95px;
    width: 100%;
    object-fit: fill;
    border: 0;
}

.right-banner-item {
    margin-bottom: 10px;
}

.box-filter {
    position: relative;
    font-size: 0;
    padding-top: 10px;
}

.box-quicklink {
    display: flex;
    flex-wrap: wrap;
}

.lst-quickfilter.wrap {
    width: 100%;
}

.lst-quickfilter {
    display: flex;
    flex-wrap: wrap;
}

.box-quicklink__item.bd-radius {
    border-radius: 52px;
}

.box-quicklink__item {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    line-height: 13px;
    margin-right: 8px;
    margin-bottom: 10px;
    min-height: 36px;
    max-height: 36px;
    padding: 6px 13px;
    vertical-align: top;
    background-color: #fff;
}

.box-quicklink__item img.no-text {
    margin-right: 0;
}

.box-quicklink__item img {
    vertical-align: middle;
    width: auto;
    height: 20px;
    margin-right: 5px;
}

.box-quicklink__item.quicklink-logo:hover {
    color: #2f80ed;
}

.box-quicklink__item:hover {
    border: 1px solid #2f80ed;
}

.box-sort {
    margin: 10px 0;
    display: block;
    overflow: visible;
}

.sort-total {
    float: left;
    font-weight: bold;
    margin: 0 0 15px;
    padding-top: 3px;
}

.box-checkbox {
    float: left;
    margin: 0 0 15px;
}

.box-checkbox .c-checkitem:first-child {
    margin-left: 25px;
}

.box-checkbox .c-checkitem {
    margin-right: 25px;
}

.box-checkbox a {
    color: #000;
}

.c-checkitem {
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.c-checkitem.active {
    position: relative;
}

.c-checkitem .tick-checkbox, .c-checkitem p {
    display: inline-block;
    vertical-align: middle;
}

.c-checkitem .tick-checkbox {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin-right: 2px;
    height: 16px;
    width: 16px;
    background-color: #fff;
}

.c-checkitem.active::before {
    height: 8px;
    left: 4px;
    transform: rotate(
-35deg);
}

.c-checkitem.active::before, .c-checkitem.active::after {
    background-color: #fff;
    bottom: 2px;
    border-radius: 20px;
    content: '';
    position: absolute;
    width: 2px;
}

.c-checkitem.active::after {
    height: 12px;
    left: 9px;
    transform: rotate(
35deg);
}

.c-checkitem.active .tick-checkbox {
    background-color: #4a90e2;
    border: none;
}

.sort-select {
    float: right;
    position: relative;
    margin-bottom: 10px;
}

.sort-select .click-sort {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 10px 6px 8px;
    background-color: #fff;
}

.sort-select .sort-show {
    padding-right: 12px;
    position: relative;
}

.sort-select .sort-show::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: '';
    height: 0;
    position: absolute;
    top: 6px;
    right: 0;
    width: 0;
}

.sort-select-main {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
    display: none;
    position: absolute;
    padding: 0 7px;
    top: 30px;
    right: 0;
    width: 160px;
    z-index: 2;
}

.sort-select-main p {
    border-bottom: 1px solid #f1f1f1;
}

.sort a {
    color: #000;
    font-size: 14px;
    line-height: 17px;
    padding: 11px 3px;
    display: block;
}

.sort a.check i {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 16px;
    border: 2px solid transparent;
    border-radius: 100px;
    vertical-align: middle;
}

.sort a.check i::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -4px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(
45deg);
}

.container-product {
    display: block;
    overflow: hidden;
    width: 100%;
}

.listproduct {
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(5,minmax(0,1fr));
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.listproduct .item {
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    padding: 10px 15px 20px;
    overflow: hidden;
    display: block;
    background-color: #fff;
}

.listproduct li {
    border-bottom: 1px solid #f3f3f3 !important;
    border-right: 1px solid #f3f3f3 !important;
    padding: 5px;
}

.listproduct .item a {
    display: block;
}

.item-label {
    font-size: 0;
    height: 22px;
}

.item-label span {
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
}

.lb-tragop {
    background-color: #f1f1f1;
    color: #333;
}

.listproduct .item-img {
    margin-top: 10px;
}

.listproduct .item-img {
    position: relative;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.listproduct .item-img {
    height: 225px;
    line-height: 225px;
}

.listproduct .item .item-img img {
    margin-top: 8px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.listproduct .item-img img {
    margin-bottom: 0;
    margin-top: 8px;
}

.listproduct img {
    max-width: 100%;
}

img {
    border: 0;
}

.listproduct h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.listproduct .price {
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}

.listproduct .item-rating {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
}

.listproduct .item-rating p {
    display: inline-block;
}

.listproduct .item-rating-total {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
}

.icon-star {
    background-position: -205px -60px;
    height: 12px;
    width: 13px;
}

.icon-star-dark {
    background-position: -225px -60px;
    height: 12px;
    width: 13px;
}

[class^="icon-"], [class*="icon-"] {
    background-image: url("/assets/images/icon_common.png");
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}

.item-bottom {
    font-size: 12px;
    margin-bottom: 5px;
}

.listproduct .item a {
    display: block;
}

.listproduct .shiping {
    color: #333;
    font-size: 12px;
    line-height: 16px;
    margin-top: 7px;
}

.item-ss {
    color: #2f80ed;
    font-size: 12px;
    line-height: 16px;
    margin-top: 7px;
}

.item-ss i {
    background: url("/assets/images/icon_plus.png") no-repeat center;
    background-size: 100%;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: text-bottom;
}

.listproduct .item a:hover .item-img img {
    margin-bottom: 8px;
    margin-top: 0;
}

.listproduct .item:hover {
    -webkit-box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 2px 12px rgba(0,0,0,.12);
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}

body.theme-noel {
    background-image: url("/assets/images/Theme-noel.png");
    background-color: #daf5ff;
    background-size: cover;
    background-attachment: fixed;
}

.sticky-sidebar .banner-left {
    left: calc(((100vw - 1200px)/2) - 95px);
}

.sticky-sidebar .banner-right {
    right: calc(((100vw - 1200px)/2) - 105px);
}

.sticky-sidebar a {
    position: fixed;
    top: 195px;
    width: 89px;
    z-index: 999;
}

.sticky-sidebar a img {
    display: block;
    max-width: 100%;
}


